# Exploratory Data Analysis with NumPy and Pandas


## Introduction

In [ ]:
# Important imports. The "as" aliases are np and pd by convention.

import numpy as np
import pandas as pd

Video tutorials: http://www.dataschool.io/easier-data-analysis-with-pandas/

Jake VanderPlas' excellent Python Data Science Handbook: https://jakevdp.github.io/PythonDataScienceHandbook/

## NumPy - the Foundation of Data Science in Python

Data science is largely about the manipulation of (often large) collections of numbers, so to support effective data science a language needs a way to do this efficiently. In Python this is done through the NumPy libary, which provides much more memory- and computation-efficient ways than the built-in lists in Python.

Python lists are suboptimal because they are heterogeneous collections of object references; the objects in turn have 
reference counts for garbage collection, type info, size info, and the actual data. Thus storing (say) a list of a four 32-bit integers, rather than requiring just 16 bytes requires much more.

Python does offer an `array` type which is homogeneous and improves on lists as far as storage goes, but it offers limited operations on that data.

NumPy bridges the gap, offering both efficient storage of homogeneous data in single or multi-dimensional arrays, and a rich set of operations on that data.

In this section we will cover some of the basics of NumPy, but our focus will be mostly on Pandas, a library built on top of NumPy that is particularly well-suited to manipulating tabular data. You can get a deeper intro to NumPy here: https://docs.scipy.org/doc/numpy-dev/user/quickstart.html

In [ ]:
# Create a one-dimensional NumPy array from a range
a = np.arange(1, 11)
a

In [ ]:
# Create a one-dimensional NumPy array from a range with a specified increment
a = np.arange(0.5, 10.5, 0.5)
a

In [ ]:
# Reshape the array into a 4x5 matrix
a = a.reshape(4, 5)
a

In [ ]:
# Create one dimensional NumPy array from a list
a = np.array([1, 2, 3])
a

In [ ]:
# Append a value
b = a
a = np.append(a, 4)  # Note that this makes a copy; the original array is not affected
print(b)
print(a)

In [ ]:
# Get the shape and # of elements
print(np.shape(a))
print(np.size(a))

In [ ]:
# Index and slice
print(f'Second element of a is {a[1]}')
print(f'Last element of a is {a[-1]}')
print(f'Middle two elements of a are {a[1:3]}')

In [ ]:
# Create an array of zeros of length n
np.zeros(5)

In [ ]:
# Create an array of 1s
np.ones(5)

In [ ]:
# Create an array of 10 random integers between 1 and 100
np.random.randint(1,100, 10)

In [ ]:
# Create linearly spaced array of 5 values from 0 to 100
np.linspace(0, 100, 5)

In [ ]:
# Create a 2-D array from a list of lists
b = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])
b

In [ ]:
# Get the shape, # of elements, and # of dimensions
print(np.shape(b))
print(np.size(b))
print(np.ndim(b))

In [ ]:
# Get the first row of b; these are equivalent
print(b[0]) 
print(b[0,:])  # First row, "all columns"

In [ ]:
# Get the first column of b
print(b[:,0])

In [ ]:
# Get a subsection of b, from 1,1 through 2,2 (i.e. before 3,3)
print(b[1:3,1:3])

Numpy supports Boolean operations on arrays and using arrays of Boolean values to select elements:

In [ ]:
# Get an array of Booleans based on whether entries are odd or even numbers
b%2 == 0

In [ ]:
# Use Boolean indexing to set all even values to -1
b[b%2 == 0] = -1
b

### UFuncs

NumPy supports highly efficient operations on arrays called UFuncs (Universal Functions).

In [ ]:
np.mean(b)  # Get the mean of all the elements

In [ ]:
np.power(b, 2)  # Raise every element to second power

You can get the details on UFuncs here: https://docs.scipy.org/doc/numpy-1.13.0/reference/ufuncs.html

## Pandas Series

NumPy is primarily aimed at scientific computation e.g. linear algebra. As such, 2D data is in the form of arrays of arrays. In data science applications, we are more often dealing with tabular data; that is, collections of records (samples, observations) where each record may be heterogenous but the schema is consistent from record to record. The Pandas library is built on top of NumPy to provide this type of representation of data, along with the types of operations more typical in data science applications, like indexing, filtering and aggregation. There are two primary classes it provides for this, Series and DataFrame. 

A Pandas Series is a one-dimensional array of indexed data. It wraps a sequence of values and a sequence of indices, along with a name. The values are a NumPy array, while the indices are an instance of a pd.Index object.

In [ ]:
data = pd.Series([1, 4, 9, 16, 25])
print(data.name)
data

From the above you can see that by default, a series will have numeric indices assigned, as a sequential list starting from 0, much like a typical Python list or array. The default name for the series is `None`, and the type of the data is `int64`.

In [ ]:
data.values

In [ ]:
data.index

You can show the first few lines with `.head()`. The argument, if omitted, defaults to 5.

In [ ]:
data.head(2)

The data need not be numeric:

In [ ]:
data = pd.Series(["quick", "brown", "fox"], name="Fox")
data

Above, we have assigned a name to the series, and note that the data type is now `object`.

What if we combine integers and strings?

In [ ]:
data = pd.Series([1, "quick", "brown", "fox"], name="Fox")
data

We can have "missing" values using None:

In [ ]:
data = pd.Series(["quick", None, "fox"], name="Fox")
data

For a series of type `object`, `None` can simply be included, but what if the series is numeric?

In [ ]:
data = pd.Series([1, None, 3])
data

As you can see, the special float value *NaN* (`np.nan`) is used in this case. This is also why the series has type float64 and not int64; floating point numbers have special values for NaN while ints don't.

Be careful with NaN; it will fail equality tests:

In [ ]:
np.nan == np.nan

Instead you can use `is` or `np.isnan()`:

In [ ]:
print(np.nan is np.nan)
print(np.isnan(np.nan))

Normal indexing and slicing operations are available:

In [ ]:
data = pd.Series([1, 4, 9, 16, 25])

In [ ]:
data[2]

In [ ]:
data[2:4]

Where NumPy arrays have implicit integer sequence indices, Pandas indices are explicit and need not be integers:

In [ ]:
data = pd.Series([1, 4, 9, 16, 25], index=['square of 1', 'square of 2', 'square of 3', 'square of 4', 'square of 5'])
data

In [ ]:
data['square of 3']

As you can see, a Series is a lot like a Python dict (with additional slicing), and we can construct one from a Python dict:

In [ ]:
pd.Series({'square of 1':1, 'square of 2':4, 'square of 3':9, 'square of 4':16, 'square of 5':25})

You can use both a dictionary and an explicit index but be careful if the index and dictionary keys don't align completely; the explicit index takes precedence. Look at what happens:

In [ ]:
pd.Series({"one": 1, "three": 3}, index=["one", "two"])

### Exercise 1

Given the list below, create a Series that has the list as both the index and the values, and then display the first 3 rows:

In [ ]:
ex1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

In [ ]:
# Exercise 1: Put your code here.
# Uncomment and run the %load magic for a sample solution.
# %load ex04-01.py

A number of dict-style operations work on a Series:

In [ ]:
# Reconstruct the Series
data = pd.Series([1, 4, 9, 16, 25], index=['square of 1', 'square of 2', 'square of 3', 'square of 4', 'square of 5'])

In [ ]:
'square of 5' in data

In [ ]:
data.keys()

In [ ]:
data.items()  # Iterable

In [ ]:
list(data.items())

In [ ]:
data.values  # Unlike Python dict, this is not the same - it's an array, not a function returning an interable

In [ ]:
data['square of 6'] = 36  # We can add new entries
data

In [ ]:
data['square of 6'] = -1  # And change existing values
data

In [ ]:
del data['square of 6']  # And delete a value
data

Iteration (`__iter__`) iterates over the values in a Series, while membership testing (`__contains__`) checks the indices:

In [ ]:
for v in data:
    print(v)

In [ ]:
print(16 in data)
print('square of 4' in data)

### Vectorized Operations

You can iterate over a Series or Dataframe, but in many cases there are much more efficient vectorized UFuncs available; these are implemented in native code exploiting parallel processor operations and are much faster. Some examples are `.sum()`, `.median()`, `.mode()`, and `.mean()`:

In [ ]:
data.mean()

Series also behaves a lot like a list. We saw some indexing and slicing earlier. This can be done on non-numeric indexes too:

In [ ]:
data['square of 2': 'square of 4']  # This can be confusing as it INCLUDES the final value

In [ ]:
data['square of 2': 'cube of 4']  # Be aware - a missing key will result in empty results

### Exercise 2

Delete the row 'k' from the earlier series, then display the rows from 'f' through 'l'.

In [ ]:
# Exercise 2: put your code here
# %load ex04-02.py

## Pandas DataFrames

A DataFrame is like a dictionary of Series that share the same index, keyed on the Series names.

Read the sentence above again and make sure it makes sense to you.

In [ ]:
names = pd.Series(['Alice', 'Bob', 'Carol'])
phones = pd.Series(['555-123-4567', '555-987-6543', '555-245-6789'])
dept = pd.Series(['Marketing', 'Accounts', 'HR'])

df = pd.DataFrame({'Name': names, 'Phone': phones, 'Department': dept})  # 'Name', 'Phone', 'Department' are the column names
df

In [ ]:
df.index  # Like Series, DataFrame has an index for rows

In [ ]:
df.columns  # DataFrame also has an index for columns

In [ ]:
df.values

The index operator actually selects a column in the DataFrame, while the .iloc and .loc attributes still select rows (actually, we will see in the next section that they can select a subset of the DataFrame with a row selector and column selector, but the row selector comes first so if you supply a single argument to .loc or .iloc you will select rows):

In [ ]:
df['Name']  # Acts similar to dictionary; returns Series

In [ ]:
df.loc[2]

You can get a transpose of the DataFrame with the .T attribute:

In [ ]:
df.T

In [ ]:
df.Name  # You can also access columns like this, with dot-notation.
# Occasionally this breaks if there is a name conflcit with a UFunc, like 'count'.

In [ ]:
# You can add new columns. Later we'll see how to do this as a function of existing columns
df['Closed'] = True
df.head()

In [ ]:
# Use .describe() to get summary statistics
df.describe()

In [ ]:
# Use .drop() to remove rows. Makes a copy unless you include 'inplace=True'.
df.drop([1])

In [ ]:
# Note that because we didn't say inplace=True,
# the original is unchanged
df

There are many ways to construct a DataFrame. For example, from a Series or dictionary of Series, from a list of Python dicts, or from a 2-D NumPy array. There are also utility functions to read data from disk into a DataFrame, e.g. from a .csv file or an Excel spreadsheet. We'll cover some of these later.

Many DataFrame operations take an `axis` argument which defaults to zero. This specifies whether we want to apply the operation by rows (axis=0) or by columns (axis=1).

In [ ]:
# You can drop columns if you specify axis=1
df.drop(["Name"], axis=1)

In [ ]:
# A way to remove a column inplace is to use del
del df["Department"]
df

In [ ]:
# We can change the index to be some other column.
# If we want to save the existing index, we first
# need to add it as a new column:

df['Number'] = df.index
df

In [ ]:
# Now we can set the new index. This is a destruvtive
# operation that discards the old index, which is
# why we saved it as a new column first.
df = df.set_index('Name')
df

In [ ]:
# Alternatively we can promote the index to a column and go 
# back to a numeric index with reset_index()
df = df.reset_index()
df

### Exercise 3

Create a DataFrame from the dictionary below:

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

In [ ]:
# Uncomment and run next line for solutions
# %load ex04-03.py

In [ ]:
# Put your code to create the DataFrame here

In [ ]:
# Generate a summary of the data

In [ ]:
# Calculate the sum of all visits (the total number of visits).

## More on Indexing

The Pandas Index type can be thought of as an immutable ordered multiset (multiset as indices need not be unique). The immutability makes it safe to share an index between multiple columns of a DataFrame. The set-like properties are useful for things like joins (a join is like an intersection between Indexes). There are dict-like properties (index by label) and list-like properties too (index by location). 

Indexes are complicated but understanding them is key to leveraging the power of pandas. Let's look at some example operations to get more familiar with how they work:

In [ ]:
# Let's create two Indexes for experimentation

i1 = pd.Index([1, 3, 5, 7, 9])
i2 = pd.Index([2, 3, 5, 7, 11])

In [ ]:
i1[2]  # We can index like a list with []

In [ ]:
i1[2:5]  # And slice

In [ ]:
i1 & i2  # Intersection

In [ ]:
i1 | i2  # Union

In [ ]:
i1 ^ i2  # Difference

Series and DataFrames have an explicit Index but they also have an implicit index like a list. When using the `[]` operator, the type of the argument will determine which index is used:

In [ ]:
s = pd.Series([1, 2], index=["1", "2"])
print(s["1"])  # matches index type; use explicit
print(s[1])  # integer doesn't match index type; use implicit positional

If the explicit Index uses integer values things can get confusing. In such cases it is good to make your intent explicit; there are attributes for this:

- `.loc` references the explicit Index
- `.iloc` references the implicit Index; i.e. a positional index 0, 1, 2,...

The Python way is "explicit is better than implicit" so when indexing/slicing it is better to use these. The example below illustrates the difference:

In [ ]:
# Note: explicit index starts at 1; implicit index starts at 0
s = pd.Series(['first', 'second', 'third', 'fourth'], index=[1, 2, 3, 4]) 

print(f'Item at explicit index 1 is {s.loc[1]}')
print(f'Item at implicit index 1 is {s.iloc[1]}')
print(s.loc[1:3])
print(s.iloc[1:3])

When using `.iloc`, the expression in `[]` can be:

* an integer, a list of integers, or a slice object (e.g. `1:7`)
* a Boolean array (see Filtering section below for why this is very useful)
* a function with one argument (the calling object) that returns one of the above

Selecing outside of the bounds of the object will raise an IndexError except when using slicing.

When using `.loc`, the expression in `[]` can be:

* an label, a list of labels, or a slice object with labels (e.g. `'a':'f'`; unlike normal slices the stop label is included in the slice)
* a Boolean array
* a function with one argument (the calling object) that returns one of the above

You can use one or two dimensions in `[]` after `.loc` or `.iloc` depending on whether you want to select a subset of rows, columns, or both.

You can use the `set_index` method to change the index of a DataFrame.

If you want to change entries in a DataFrame selectively to some other value, you can use assignment with indexing, such as:

```python
df.loc[row_indexer, column_indexer] = value
```

_Don't_ use:

```python
df[row_indexer][column_indexer] = value
```

That _chained indexing_ can result in copies being made which will not have the effect you expect. You want to do all your indexing in one operation. See the details at https://pandas.pydata.org/pandas-docs/stable/indexing.html
    
 ## Exercise 4
 
 Use the same DataFrame from Exercise 3.

In [ ]:
# Uncomment and run %load for solutions
# %load ex04-04.py

In [ ]:
# Select just the 'animal' and 'age' columns from the DataFrame.

In [ ]:
# Select the data in rows [3, 5, 7] and in columns ['animal', 'age'].

## Loading/Saving CSV, JSON and Excel Files

Use `Pandas.read_csv` to read a CSV file into a dataframe. There are many optional argumemts that you can provide, for example to set or override column headers, skip initial rows, treat first row as containing column headers, specify the type of columns (Pandas will try to infer these otherwise), skip columns, and so on. The `parse_dates` argument is especially useful for specifying which columns have date fields as Pandas doesn't infer these.

Full docs are at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [ ]:
df = pd.read_csv('http://samplecsvs.s3.amazonaws.com/SacramentocrimeJanuary2006.csv',
                 parse_dates=['cdatetime'])
df.head()

If you need to do some preprocessing of a field during loading you can use the `converters` argument which takes a dictionary mapping the field names to lambda functions that munge the field. E.g. if you had a field `zip` and you wanted to take just the first 3 digits, you could use:

```python
..., converters={'zip': lambda x: x[:3]}, ...
```

You can pass a dictionary in with the `types` argument that maps field names to NumPy types, to override the type inference. You can see details of NumPy scalar types here: https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.scalars.html

By default the first line is expected to contain the column headers. If it doesn't you can specify them yourself, using arguments such as:

```python
..., header=None, names=['column1name','column2name'], ...
```

If the separator is not a comma, use the `sep` argument; e.g. for a TAB-separated file:

```python
..., sep='\t', ...
```

Use `Pandas.read_excel` to load spreadsheet data. Full details here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html

In [ ]:
df = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
df.head()

Use the `DataFrame.to_csv` method to save a DataFrame to a file or `DataFrame.to_excel` to save as a spreadsheet.

It's also possible to read JSON data into a DataFrame. The complexity here is that JSON data is typically hierarchical; in order to turn it into a DataFrame the data typically needs to be flattened in some way. This iss controlled by an `orient` parameter. For details see https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html.

## Sorting

You can sort a DataFrame using the `sort_values` method:

```python
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, na_position='last')
```
    
The `by` argument should be a column name or list of column names in priority order (if axis=0, i.e. we are sorting the rows, which is typically the case).

See https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html for the details.
    

## Filtering

In [ ]:
import seaborn as sns;

# Get some sample data
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
# A Boolean expression on a Series will return a Series of Booleans
titanic.survived == 1

In [ ]:
# If you index a Series with a Boolean Series, you will select the items where the index is True.
# So:
titanic[titanic.survived == 1]

In [ ]:
# You can combine these with & and | for and and or
# Pandas must use these normally bitwise operators because Python allows them to be overloaded
# while 'and' and 'or' cannot be, and in any event they arguably make sense as they are operating
# on Boolean series which are similar to bit vectors.
# Unfortunately as these have higher operator precedence than relational operators, the 
# subexpressions we use with them need to be enclosed in parentheses.

titanic[titanic.survived & (titanic.sex == 'female') & (titanic.age > 50)]

NumPy itself also supports such Boolean filtering; for example:

In [ ]:
s = np.array([3, 2, 4, 1, 5])
s[s > np.mean(s)]  # Get the values above the mean

## Handling Missing Data

To see if there are missing values, we can use isnull() to get a DataFrame showing the rows that have nulls, and where they have them:

In [ ]:
df.isnull().head()

The above will show us the first few rows that had null values. If we want to know which columns may have nulls, we can use:

In [ ]:
df.isnull().any()

To drop rows that have missing values, use dropna(); add `inplace=True` to do it in place.

In [ ]:
df.dropna().head()

In this case there are none - no-one could both be on a boat and be a recovered body, so at least one of these fields is always NaN.

TBD - cover fillna()

### Exercise 5

Using the previous DataFrame from exercise 3, do the following:

In [ ]:
# For solutions, uncomment %load and execute.
# %load ex04-05.py

In [ ]:
# Select only the rows where the number of visits is greater than or equal to 3

In [ ]:
# Select the rows where the age is missing, i.e. is NaN

In [ ]:
# Select the rows where the animal is a cat and the age is less than 3.

In [ ]:
# Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
# Change the index to use this list:
# idx = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# Change the age in row 'f' to 1.5.

In [ ]:
# Append a new row 'k' to df with your choice of values for each column.

In [ ]:
# Then delete that row to return the original DataFrame.

## Concatenation

`pandas.concat` can be used to concatenate Series and DataFrames:

In [ ]:
s1 = pd.Series(['A', 'B', 'C'])
s2 = pd.Series(['D', 'E', 'F'])
df = pd.concat([s1, s2])
df

Note that the Indexes are concatenated too, so if you are using a simple row number index you can end up with duplicate values.

In [ ]:
df[2]

 If you don't want this behavior use the `ignore_index` argument:

In [ ]:
pd.concat([s1, s2], ignore_index=True)

Alternatively you can use `verify_integrity=True` to cause an exception to be raised if the result would have duplicate indices.

In [ ]:
pd.concat([s1, s2], verify_integrity=True)

In [ ]:
d1 = pd.DataFrame([['A1', 'B1'],['A2', 'B2']], columns=['A', 'B'])
d2 = pd.DataFrame([['C3', 'D3'],['C4', 'D4']], columns=['A', 'B'])
d3 = pd.DataFrame([['B1', 'C1'],['B2', 'C2']], columns=['B', 'C'])
pd.concat([d1, d2])

In [ ]:
# We can join on other axis too.
pd.concat([d1, d2], axis=1)

In [ ]:
pd.concat([d1, d3], axis=1)

In [ ]:
# If the columns are not completely shared, additional NaN entries will be made.
pd.concat([d1, d3])

In [ ]:
# We can force concat to only include the columns that are shared with an inner join.
pd.concat([d1, d3], join='inner')

See https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html for more options.

## Merging and Joining

We have already seen how we can add a new column to a DataFrame when it is a fixed scalar value:

In [ ]:
df = pd.DataFrame(['Fred', 'Alice', 'Joe'], columns=['Name'])
df

In [ ]:
df['Married'] = False
df

We can also give an array of values or provided it has the same length, or we can use a Series keyed on the index if it is not the same length:

In [ ]:
df['Phone'] = ['555-123-4567', '555-321-0000', '555-999-8765']
df

In [ ]:
df['Department'] = pd.Series({0: 'HR', 2: 'Marketing'})
df

Often we want to join two DataFrames instead. Pandas has a `merge` function that supports one-to-one, many-to-one and many-to-many joins. merge will look for matching column names between the inputs and use this as the key:

In [ ]:
d1 = pd.DataFrame({'city': ['Seattle', 'Boston', 'New York'], 'population': [704352, 673184, 8537673]})
d2 = pd.DataFrame({'city': ['Boston', 'New York', 'Seattle'], 'area': [48.42, 468.48, 142.5]})
pd.merge(d1, d2)

In [ ]:
# You can explicitly specify the column to join on; this is equivalent to the above example:
pd.merge(d1, d2, on='city')

In [ ]:
# If the column names don't match you can specify the names to use:
d3 = pd.DataFrame({'place': ['Boston', 'New York', 'Seattle'], 'area': [48.42, 468.48, 142.5]})
pd.merge(d1, d3, left_on='city', right_on='place')

In [ ]:
# If you want to drop the redundant column:
pd.merge(d1, d3, left_on='city', right_on='place').drop('place', axis=1)

`merge` joins on arbitrary columns; if you want to join on the index you can use `left_index` and `right_index`:

In [ ]:
df1 = pd.DataFrame(list('ABC'), columns=['c1'])
df2 = pd.DataFrame(list('DEF'), columns=['c2'])
pd.merge(df1, df2, left_index=True, right_index=True)

Pandas provides a utility method on DataFrame, `join`, to do the above:

In [ ]:
df1.join(df2)

`merge` can take a `how` argument that can be `inner` (intersection), `outer` (union), `left` (first augmented by second) or `right` (second augmented by first)  to control the type of join. `inner` joins are the default.

If there are other columns with the same name between the two DataFrames, Pandas will give them unique names by appending `_x` to the columns from the first argument and `_y` to the columns from the second argument.

It's also possible to use list of column names for the `left_on` and `right_on` arguments to join on multiple columns.

For more info on merging see https://pandas.pydata.org/pandas-docs/stable/merging.html

## Aggregating and Pivot Tables

TODO: add some more info here, and on split-apply-combine pattern

In [ ]:
!pip install seaborn

In [ ]:
import seaborn as sns;

titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
# Use unique() to see the full set of distinct values in a series
titanic.deck.unique()

In [ ]:
# Use value_counts() to get the counts of the unique values
titanic.deck.value_counts()

In [ ]:
# describe() will give summary statistics on a DataFrame. We first drop rows with NAs.
titanic.dropna().describe()

In [ ]:
titanic.groupby('sex')['survived'].mean()

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].mean()

The DataFrame result is an example of a multi-indexed DataFrame (indexed by both 'sex' and 'class'). We're mostly going to ignore those in this notebook, but it is worth noting that Pandas has an `unstack` method that can turn a mutiply-indexed DataFrame back into a conventionally-indexed one:

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].mean().unstack()

In [ ]:
# All of the above can be achieved with a convenience pivot table method
titanic.pivot_table('survived', index='sex', columns='class')

In [ ]:
# Let's break things down further by age group
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', index=['sex', age], columns='class')

In [ ]:
# Index and colummns are also the second and third positional arguments, so we could just use:
titanic.pivot_table('survived', ['sex', age], 'class')

## Applying Functions

We saw earlier that we can add new columns to a DataFrame easily. The new column can be a function of an existing column. For example, we could add an 'is_adult' field to the Titanic data:

In [ ]:
titanic['is_adult'] = titanic.age >= 18
titanic.head()

That's a simple case; we can do more complex row-by-row applications of arbitrary functions; here's the same change done differently (this would be much less efficient but may be the only option if the function is complex):

In [ ]:
titanic['is_adult'] = titanic.apply(lambda row: row['age'] >= 18, axis=1)
titanic.head()

## Exercise 6

Use the same DataFrame from exercise 5.

In [ ]:
# Calculate the mean age for each different type of animal.

In [ ]:
# Count the number of each type of animal.

In [ ]:
# Sort the data first by the values in the 'age' column in decending order,
# then by the value in the 'visits' column in ascending order.

In [ ]:
# In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
# The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 
#'yes' should be True and 'no' should be False.

## String Operations

Pandas has vectorized string operations that will skip over missing values. You can read about them here; we wil show a few examples: https://pandas.pydata.org/pandas-docs/stable/text.html

In [ ]:
# Let's get the more detailed Titanic data set
df = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
df.head()

In [ ]:
# Upper-case the home.dest field
df['home.dest'].str.upper().head()

In [ ]:
# Let's split the field up into two
place_df = df['home.dest'].str.split('/', expand=True)  # Expands the split list into DF columns
place_df.columns = ['home', 'dest', '']  # For some reason there is a third column
df['home'] = place_df['home']
df['dest'] = place_df['dest']
df = df.drop(['home.dest'], axis=1)
df

## Ordinal and Categorical Data

TBD

## Working with Dates and Time Series

TBD

## Aligned Operations

Pandas will align DataFrames on indexes when performing operations. Consider for example two DataFrames, one with number of transactions by day of week, and one with number of customers by day of week, and say we want to know average transactions per customer by date:

In [ ]:
transactions = pd.DataFrame([2, 4, 5],
                           index=['Mon', 'Wed', 'Thu'])
customers = pd.DataFrame([2, 2, 3, 2], 
                        index=['Sat', 'Mon', 'Tue', 'Thu'])

transactions / customers

Notice how pandas aligned on index to produce the result, and used NaN for mismatched entries. We could specify the value to use as operands by using the `div` method:

In [ ]:
transactions.div(customers, fill_value=0)

## Chaining Methods and .pipe()

Many operations on Series and DataFrames return copies, unless the `inplace=True` argument is included. Even in that case there is usually a copy made and then the reference is just replaced at the end; this means using inplace operations generally isn't faster. Because a modified copy is returned, you can chain multiple changes, for example:

```python
df = (pd.read_csv('data.csv')
        .rename(columns=str.lower)
        .drop('id', axis=1))
```

This is great for built-in operations, but what about custom operations? The good news is these are possible too, with `.pipe()`:

```python
def my_operation(df, *args, **kwargs):
    # Do something to the df
    ...
    # Return the modified dataframe
    return df
   
# Now we can call this in our chain.
df = (pd.read_csv('data.csv')
        .rename(columns=str.lower)
        .drop('id', axis=1)
        .pipe(my_operation, 'foo', bar=True))    
```

## MultiIndexes

TBD

Note that we can transpose and get hierachical column names.

## Statistical Significance and Hypothesis Testing

TBD - extend this and talk about p-hacking

In exploring the data, we may come up with hypotheses about relationships between different values. We can get an indication of whether our hypothesis is correct or the relationship is cincidental using tests of statistical significance.

The usual approach is to assume the opposite of what we want to prove; this is called the *null hypothesis*. We then calculate the probability that the data supports the null hypothesis: this is called the *p-value*. In general, a p-value of less than 0.05 is taken to mean that the hypothesis is valid (although this has recently become a contentious point; see http://www.sciencemag.org/news/2017/07/it-will-be-much-harder-call-new-findings-significant-if-team-gets-its-way). We'll set aside that debate for now and stick with 0.05.

Let's revisit the Titanic data:

In [ ]:
import seaborn as sns;

titanic = sns.load_dataset('titanic')
titanic.head()

If we want to see how gender affected survival rates, one way is with cross-tabulation:

In [ ]:
ct = pd.crosstab(titanic['survived'],titanic['sex'])
ct

There were a lot more men than women on the ship, and it certainly looks like the survival rate for women was better than for men, but is the difference statistcially significant? Our  hypothesis is that gender affects survivability, and so the null hypothesis is that it doesn't. One way to measure this is with a chi-squared test:

In [ ]:
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(ct.values)
p

That's a very small p-value! So we can be sure gender was an issue.

## Pandas Plots

Pandas includes the ability to do simple plots. For a Series, this typically means plotting the values in the series as the Y values, and then index as the X values; for a DataFrame this would be a multiplot. You can use `x` and `y` named arguments to select specific columns to plot, and you can use a `kind` argument to specify the type of plot.

See https://pandas.pydata.org/pandas-docs/stable/visualization.html for details.

In [ ]:
s = pd.Series([2, 3, 1, 5, 3], index=['a', 'b', 'c', 'd', 'e'])
s.plot()

In [ ]:
s.plot(kind='bar')

In [ ]:
df = pd.DataFrame(
    [
        [2, 1],
        [4, 4],
        [1, 2],
        [3, 6]
    ],
    index=['a', 'b', 'c', 'd'],
    columns=['s1', 's2']
)
df.plot()

In [ ]:
df.plot(x='s1', y='s2', kind='scatter')

## Charting with Seaborn

See the Python Graph Gallery at https://python-graph-gallery.com/ for many examples of different types of charts including the code used to create them.

There are many plotting libraries for Python; the most well known are matplotlib, seaborn (which extends matplotlib), Bokeh, and Plotly. Some offer more interactivity than others. Seaborn is a popular library so we will examine it with some examples. We first need to use the following magic to get the plots to show up in Jupyter:

In [ ]:
%matplotlib inline

In [ ]:
# Let's get the more detailed Titanic data set
df = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
df.head()

In [ ]:
# We can use a factorplot to count categorical data
import seaborn as sns
sns.factorplot('sex',data=df,kind='count')

In [ ]:
# Let's bring class in too:
sns.factorplot('pclass', data=df, hue='sex', kind='count')

In [ ]:
# Of course we can aggregate the other way too
sns.factorplot('sex', data=df, hue='pclass', kind='count')

In [ ]:
# Let's see how many people were on each deck
deck = pd.DataFrame(df['cabin'].dropna().str[0])
deck.columns = ['deck']
sns.factorplot('deck', data=deck, kind='count')

In [ ]:
# What class passenger was on each deck?
df2 = df[['cabin', 'pclass']]
df2 = df2.dropna()
df2['deck'] = df2.apply(lambda row: ord(row.cabin[0]) -64, axis=1)

sns.regplot(x=df2["pclass"], y=df2["deck"])

## Summarizing Data with pandas_profiling and facets

`pandas_profiling` is a Python package that can produce much more detailed summaries of data than the `.describe()` method. In this case we must install with `pip` and the right way to do this from the notebook is:

In [ ]:
import sys
!{sys.executable} -m pip install pandas-profiling

In [ ]:
%matplotlib inline

import pandas_profiling
import seaborn as sns;

titanic = sns.load_dataset('titanic')

pandas_profiling.ProfileReport(titanic)  # You may need to run cell twice

Facets is a new library from Google that looks very good. It has similar functionality to pandas_profiling as well as some powerful visualization. Installation is more complex so we won't use it now but it is worth considering.

https://github.com/pair-code/facets

## Handling Data that Exceeds Your System's RAM

Pandas is an in-memory system. The use of NumPy means it uses memory very efficiently but you are still limited by the RAM you have available. If your data is too large, there are several options available, incliuding:

- partition the data into chunks and process them sequentially
- partition the data into chunks and use multiple computers configured as a cluster with `ipyparallel` (https://ipyparallel.readthedocs.io/en/latest/)
- use a DataFrame-like library that handles larger datasets, like Dask DataFrames (http://dask.pydata.org/en/latest/dataframe.html) 
- putting the data in a database and operating on a subset in Pandas using a SELECT statement.

These are all out of scope of this document but we will briefly elaborate on the last two. Python comes standard with an implementation of SqlLite, in the package `sqllite3`. Pandas supports reading a DataFrame from the result of running a query against a SqlLite database. Here's a very simple example of how that may look:

```python
import sqlite3 as lite

with lite.connect('mydata.db') as con:
    query = 'select * from sales limit 100'
    df = pd.read_sql(query, con)
```

You can read more about SqlLite here: https://sqlite.org/quickstart.html.

Dask supports chunked dataframes that support most of the functionality of Pandas. The key additional parameter is `blocksize` which specifies the maximum size of a chunk of data to read into memory at one time. In addition, Dask methods are lazily evaluated; you must explicitly call a `.compute()` method to kick off the calculation. Here is a simple example: assume we have multiple CSV files containing temperature measurements. We could compute the mean temperature with something like:

```python
import dask.dataframe as dd

df = dd.read_csv('temp*.csv', blocksize=25e6)  # Use 25MB chunks
df.temperature.mean().compute()
```

## Some Useful Packages

- `openpyxl` allows you to create and work directly with Excel spreadsheets
- `faker` can create fake dfata like names, addresses, credit card numbers, and social security numbers
- `numba` includes a `@jit` decorator that can speed up the execution of many functions; useful when crunching data outside of Pandas (it won't speed up Pandas code)
- `moviepy` allows you to edit video frame-by-frame (or even create video)


## Example: Loading JSON into a DataFrame and Expanding Complex Fields

In this example we'll see how we can load some structured data and process it into a flat table form better suited to machine learning.

In [ ]:
# Let's get some data; top stories from lobste.rs; populate a DataFrame with the JSON
stories = pd.read_json('https://lobste.rs/hottest.json')
stories.head()

In [ ]:
# Use the "short_id' field as the index
stories = stories.set_index('short_id')

# Show the first few rows
stories.head()

In [ ]:
# Take a look at the submitter_user field; it is a dictionary itself.
stories.submitter_user[0]

In [ ]:
# We want to expand these fields into our dataframe. First expand into its own dataframe.
user_df = stories.submitter_user.apply(pd.Series)
user_df.head()

In [ ]:
# We should make sure there are no collisions in column names.
set(user_df.columns).intersection(stories.columns)

In [ ]:
# We can rename the column to avoid the clash
user_df = user_df.rename(columns={'created_at': 'user_created_at'})

In [ ]:
# Now combine them, dropping the original compound column that we are expanding.
stories = pd.concat([stories.drop(['submitter_user'], axis=1), user_df], axis=1)
stories.head()

In [ ]:
# The tags field is another compound field.
stories.tags.head()

In [ ]:
# Make a new dataframe with the tag lists expanded into columns of Series.
tag_df = stories.tags.apply(pd.Series)
tag_df.head()

In [ ]:
# Pivot the DataFrame
tag_df = tag_df.stack()
tag_df

In [ ]:
# Expand into a 1-hot encoding
tag_df = pd.get_dummies(tag_df)
tag_df

In [ ]:
# Merge multiple rows
tag_df = tag_df.sum(level=0)
tag_df

In [ ]:
# And add back to the original dataframe
stories = pd.concat([stories.drop('tags', axis=1), tag_df], axis=1)
stories.head()

## Exercise: Baby Names

The data comes from US census and is the count of names of children born in years from 1880 to 2014.

In [ ]:
df = pd.read_csv('NationalNames.csv.zip', compression='zip')  # Pandas can unzip the data for you
df.head()

In [ ]:
# Exercise: show the baby names from 1918

In [ ]:
# Exercise: get the counts per year for the name 'John'

In [ ]:
# Exercise: do the same but restrict to boys now!

In [ ]:
# Exercise: plot popularity of John as a boy's name per year
# (hint: look at help for Seaborn barplots)